body { /* reset */
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.vis {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
}
.vis > div {
  --margin: 1em;
  margin: var(--margin)
}
#main {
  flex: 3 0 calc(75% - var(--margin));
}
#mini {
  flex: 1 0 calc(25% - var(--margin));
}
#main > svg {
    /* Occupy the full viewport */
    width: 100%;
    height: 100%;

    /* don't scale the stroke-width of the magnified object.*/
    vector-effect: non-scaling-stroke;
}

svg 
{ 
    border: 2px solid rgba(0, 34, 224, 0.8); 
}